<!doctype html>
<html>
<head>
 <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="static/style.css">
<div class="container">
    <!--Row with two equal columns-->
    <div class="row">
        <div class="col-sm-4"><!--Column left--></div>
        <div class="col-sm-8"><!--Column right--></div>
    
    <title> {% block title %} Application {% endblock %}</title>
   
    

</head>
<body>
   
 <img class ="melon" src="static/melon.png" class="navbar-brand"></a>
    {% block content %}
    Body Here
    {% endblock %}</body> </div>
    </html>